@font-face {
    font-family: GT-Alpina;
    src: url('assets/fonts/GT-Alpina-Standard-Regular.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Standard-Regular.woff') format('woff'), url('assets/fonts/GT-Alpina-Standard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: GT-Alpina-Bold;
    src: url('assets/fonts/GT-Alpina-Standard-Bold.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Standard-Bold.woff') format('woff'), url('assets/fonts/GT-Alpina-Standard-Bold.ttf') format('truetype');
}

@font-face {
    font-family: GT-Alpina-Medium-Italic;
    src: url('assets/fonts/GT-Alpina-Standard-Medium-Italic.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Standard-Medium-Italic.woff') format('woff'), url('assets/fonts/GT-Alpina-Standard-Medium-Italic.ttf') format('truetype');
}


@font-face {
    font-family: GT-Alpina-Typewriter;
    src: url('assets/fonts/GT-Alpina-Typewriter-Regular-Italic.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Typewriter-Regular-Italic.woff') format('woff'), url('assets/fonts/GT-Alpina-Typewriter-Regular-Italic.ttf') format('truetype');
}

@font-face {
    font-family: GT-Alpina-Typewriter-Light;
    src: url('assets/fonts/GT-Alpina-Typewriter-Light.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Typewriter-Light.woff') format('woff'), url('assets/fonts/GT-Alpina-Typewriter-Light.ttf') format('truetype');
}

@font-face {
    font-family: GT-Alpina-Typewriter-Italic;
    src: url('assets/fonts/GT-Alpina-Typewriter-Regular.woff2') format('woff2'), url('assets/fonts/GT-Alpina-Typewriter-Regular.woff') format('woff'), url('assets/fonts/GT-Alpina-Typewriter-Regular.ttf') format('truetype');
}

h1 {
font-family: GT-Alpina-Medium-Italic;
}
